body{
    font-family: 'Bitter', serif;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 200px;
}
nav>ul{
    display: flex;
    align-items: center;
}
.nav-tittle{
    color: brown;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    color: green;
    text-decoration: none;
}
.h2{
    font-size: 45px;
    margin: 0px;
    margin-left: 20px;

}
.btn-primary{
    background-color: brown;
    color: aliceblue;
    border-radius: 5px;
    text-align: center;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Bitter', serif;

}
.header{
    background-color: antiquewhite;
    background-image: url('../media/images/header_bg.png');
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 500px;
    
}
.banner{
    padding: 30px 30px 0px 150px;
    align-items: center;
    display: flex;
    margin-bottom: 0px;
}
.banner-content{
    max-width: 500px;
}
.banner .pro-pic{
    width: 300px;
    padding-left: 500px;
    
}
.ban-h1{
    font-size: 30px;
}